body {
    font-family: 'Times New Roman', Georgia, serif;
    color: #556677;
    background: #dbd8e4;

}

.center-block {
    max-width: 800px;
    width: 100%;
}

.block1 {
    color: #2faa1a;
}

.block2 {
    color: #cc0024;

}

.block3 {
    color: #2046cc;

}

.block4 {
    font-weight: bolder;

}

.block5 {
    font-size: 22px;

}

.f1_input {
    float: right;
}

.f2_input {
    float: right;
}
