body {
    font-family: 'Times New Roman', Georgia, serif;
    color: #556677;
    background: #dbd8e4;
    max-width: 800px;
    width: 100%;

}

.block1 {
    text-orientation: revert;
    color: #2faa1a;
}

.block2 {
    color: #cc0024;

}

.block3 {
    color: #2046cc;

}

.block4 {
    font-weight: bolder;

}

.block5 {
    font-size: 22px;

}
